<%= form_with(model: trip, local: true) do |form| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
      <h4><%= form.label :Name %></h4>
      <%= form.text_field :full_name %>  
  </div>

  <div class="field">
      <h4><%= form.label :Mobile %></h4>
      <%= form.text_field :phone_number %>  
  </div>
  
  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source, id: :trip_source %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.text_field :destination, id: :trip_destination %>
  </div>

  <div class="field">
    <%= form.label :departure_time %>
    <%= form.number_field :departure_time, id: :trip_departure_time %>
  </div>

  <div class="field">
    <%= form.label :numberOfSeats %>
    <%= form.number_field :numberOfSeats, id: :trip_numberOfSeats %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
